%header( class="row f-align-items-center mt1 cf" )
  .col-3.col-md-3
    %h1(class="main_title") EDIT VEHICLE
%br/

= render 'form'

%br/

%button{type: "submit", form: "edit_vehicle_form_#{@vehicle_form.id}", value: "Submit", class: 'btn btn-raised btn-info'} Update
= link_to 'Destroy', vehicle_path(@vehicle_form.id), { method: :delete, class: 'btn btn-raised btn-danger', data: {confirm: 'Are you sure?'} }
= link_to 'Back', vehicles_path, class: 'btn btn-raised btn-primary'
